@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            "Apple Color Emoji",
            Inter,
            Roboto,
            Segoe UI,
            Helvetica Neue,
            Arial,
            Noto Sans,
            sans-serif;

        --background: 240 2% 11%; /* #1b1b1c */
        --foreground: 225 21% 92%; /* #ebecef */
        --accent: 142 100% 63%; /* #48ff91 */
        --accent-foreground: 225 21% 92%; /* #ebecef */
        --destructive: 352 96% 54%; /* #fb132b */
        --destructive-foreground: 210 40% 98%; /* #f8fafc */
        --border: 240 2% 18%; /* #2c2c2d */
    }

    * {
        @apply border-border;
    }
}

@layer components {
    html {
        @apply overflow-x-hidden;
        color-scheme: dark;
    }

    body {
        @apply flex justify-center w-[100dvw] max-h-[100dvh] min-h-[100dvh] bg-background text-foreground overflow-x-hidden;
    }
}
